<nav class="bottom-nav" aria-label="Основная навигация">
    <a href="/home" class="bottom-nav__item {% if active_tab == 'home' %}bottom-nav__item--active{% endif %}">
        <span class="bottom-nav__icon">
            <img src="/static/img/icon-home.png" alt="" aria-hidden="true" class="bottom-nav__icon-image" />
        </span>
        <span class="bottom-nav__label">Главная</span>
    </a>

    <a href="/map" class="bottom-nav__item {% if active_tab == 'map' %}bottom-nav__item--active{% endif %}">
        <span class="bottom-nav__icon">
            <img src="/static/img/icon-map.png" alt="" aria-hidden="true" class="bottom-nav__icon-image" />
        </span>
        <span class="bottom-nav__label">Карта</span>
    </a>

    <a href="/program" class="bottom-nav__item {% if active_tab == 'program' %}bottom-nav__item--active{% endif %}">
        <span class="bottom-nav__icon">
            <img src="/static/img/icon-program.png" alt="" aria-hidden="true" class="bottom-nav__icon-image" />
        </span>
        <span class="bottom-nav__label">Программа</span>
    </a>

    <a href="/activities" class="bottom-nav__item {% if active_tab == 'activities' %}bottom-nav__item--active{% endif %}">
        <span class="bottom-nav__icon">
            <img src="/static/img/icon-activities.png" alt="" aria-hidden="true" class="bottom-nav__icon-image" />
        </span>
        <span class="bottom-nav__label">Интерактивы</span>
    </a>

    <a href="/rating" class="bottom-nav__item {% if active_tab == 'rating' %}bottom-nav__item--active{% endif %}">
        <span class="bottom-nav__icon">
            <img src="/static/img/icon-rating.png" alt="" aria-hidden="true" class="bottom-nav__icon-image" />
        </span>
        <span class="bottom-nav__label">Рейтинг</span>
    </a>

    <a href="#" class="bottom-nav__item {% if active_tab == 'voting' %}bottom-nav__item--active{% endif %}">
        <span class="bottom-nav__icon">
            <img src="/static/img/icon-voting.png" alt="" aria-hidden="true" class="bottom-nav__icon-image" />
        </span>
        <span class="bottom-nav__label">Голосование</span>
    </a>
</nav>