<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#151541" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no"
    />
    <title>{{ title or "Приложение участников" }}</title>

    <link rel="stylesheet" href="/static/css/tokens.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/components.css" />
    <link rel="stylesheet" href="/static/css/pages.css" />
</head>
<script src="/static/js/app.js"></script>
<body>
    <div class="app-shell">
        {% block content %}{% endblock %}
    </div>
</body>
</html>